:root {
	--color-black: #000;
	--color-grey: #272822;
	--color-pink: #f92672;
	--color-blue: #28c6e4;
	--color-green: #6aaf19;
	--color-orange: #fd971f;
	--color-white: #fff;

	--grid-gutter: minmax(clamp(var(--space-s), 2vmax, var(--space-l)), 1fr);

	--space-xxs: 0.25rem;
	--space-xs: 0.5rem;
	--space-s: 1rem;
	--space-m: 1.5rem;
	--space-l: 2rem;
	--space-xl: 3rem;

	--text-xl: 2.6rem;
	--text-l: 1.5rem;
	--text-m: 1.3rem;
	--text-s: 1rem;
	--text-xs: 0.85rem;

	--theme-accent: var(--color-green);
	--theme-background-primary: var(--color-white);
	--theme-background-secondary: hsl(0, 0%, 95%);
	--theme-text-primary: hsl(0, 0%, 13%);
	--theme-text-secondary: hsl(0, 0%, 60%);
	--theme-shadow: hsla(0, 0%, 90%, 50%);
	--theme-highlight: hsla(0, 0%, 0%, 10%);

	font-family: 'Source Code Pro', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Oxygen Mono', 'Ubuntu Monospace', 'Roboto Mono', 'Fira Mono', 'Droid Sans Mono', 'Courier New',
		monospace;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8;
	scroll-behavior: smooth;
}

:root[dark] {
	--color-blue: #66d9ef;
	--color-green: #a6e22e;

	--theme-background-primary: hsl(0, 0%, 8%);
	--theme-background-secondary: hsl(240, 3%, 13%);
	--theme-text-primary: var(--color-white);
	--theme-text-secondary: hsl(0, 0%, 60%);
	--theme-shadow: hsla(0, 0%, 5%, 50%);
	--theme-highlight: hsla(0, 100%, 100%, 15%);
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	color: var(--theme-text-primary);
	background-color: var(--theme-background-primary);
	font-size: 100%;
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 500;
}

.grid {
	display: grid;
	grid-template-columns:
		[full-start]
		var(--grid-gutter)
		[main-start content-start]
		minmax(0, 45rem)
		[content-end main-end]
		var(--grid-gutter)
		[full-end];
}

@media screen and (min-width: 60rem) {
	.grid {
		grid-template-columns:
			[full-start]
			var(--grid-gutter)
			[main-start]
			minmax(0, 7.5rem)
			[content-start]
			minmax(0, 45rem)
			[content-end]
			minmax(0, 7.5rem)
			[main-end]
			var(--grid-gutter)
			[full-end];
	}
}

.grid > *,
.grid > .content {
	grid-column: content;
}

.grid > .main {
	grid-column: main;
}

.grid > .full {
	grid-column: full;
}

a {
	color: var(--theme-accent);
	font-weight: 500;
	text-decoration: none;
	transition: text-decoration 0.2s;
}

a:hover,
a:focus {
	text-decoration: underline;
	text-underline-offset: 0.3em;
}

p a {
	font-weight: 500;
}

small {
	font-size: var(--text-xs);
}

label,
label small {
	display: block;
}

label {
	margin-bottom: var(--space-xs);
}

label small {
	color: var(--theme-text-secondary);
}

.icon {
	height: 1em;
	width: 1em;
}

code {
	background-color: var(--theme-background-secondary);
	border-radius: var(--space-xxs);
	display: inline-block;
	font-weight: 500;
	padding: 0 var(--space-xs);
}

pre {
	background-color: #101010;
	border-radius: var(--space-xxs);
	box-shadow: 0 0 var(--space-m) rgba(0, 0, 0, 0.3) inset;
	font-weight: 500;
	margin: var(--space-s) 0;
	overflow-x: auto;
	padding: var(--space-s);
	tab-size: 2;
	width: 100%;
}

pre code {
	all: unset;
	color: #fff;
	display: block;
	width: 100%;
}

.token.comment,
.token.blockquote,
.token.shebang.important,
.token.shebang {
	color: #75715e;
}

.token.operator,
.token.important,
.token.keyword,
.token.rule,
.token.tag,
.token.deleted,
.token.selector,
.token.prolog,
.token.title .token.punctuation {
	color: #f92672;
}

.token.property,
.token.entity,
.token.atrule,
.token.command,
.token.code {
	color: #66d9ef;
}

.token.regex,
.token.atrule .token.property {
	color: #fd971f;
}

.token.pseudo-element,
.token.id,
.token.class,
.token.class-name,
.token.pseudo-class,
.token.function,
.token.namespac),
.token.inserted,
.token.symbol,
.token.url-reference .token.variable,
.token.attr-name {
	color: #a6e22e;
}

.token.string,
.token.url,
.token.list,
.token.cdata,
.token.attr-value,
.token.attr-value a.token.url-link {
	color: #e6db74;
}

.token.constant,
.token.hexcode,
.token.builtin,
.token.number,
.token.boolean {
	color: #ae81ff;
}

.token.doctype,
.token.punctuation,
.token.variable,
.token.macro.property {
	color: #f8f8f2;
}

.token.entity {
	cursor: help;
}

.token.title,
.token.title .token.punctuation {
	font-weight: bold;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

/* YAML */
.language-yaml .token.atrule {
	color: #f92672;
}

/* Bash */
.language-bash .token.function {
	color: #f92672;
}
