:root {
	--color-grey-94: hsl(192deg, 15%, 94%);
	--color-off-black: #222;
	--color-white: #fff;
	--color-blue: #2980b9;
	--color-green: #27ae60;
	--color-orange: #d35400;
	--color-purple: #8e44ad;
	--color-red: #c0392b;
	--color-teal: #16a085;
	--color-yellow: #f39c12;

	--space-xxs: 0.25rem;
	--space-xs: 0.5rem;
	--space-s: 1rem;
	--space-m: 1.5rem;
	--space-l: 2rem;
	--space-xl: 2.5rem;
	--space-xxl: 3rem;

	--text-l: 2.6rem;
	--text-m: 1.4rem;
	--text-s: 1rem;
	--text-xs: 0.9rem;

	--theme-accent: var(--color-green);
	--theme-background-primary: var(--color-white);
	--theme-background-secondary: var(--color-grey-94);
	--theme-text-primary: var(--color-off-black);
	--theme-shadow: hsl(192deg, 15%, 94%, 0.3);

	color: var(--theme-text-primary);
	font-family: 'Source Code Pro', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Oxygen Mono', 'Ubuntu Monospace', 'Roboto Mono', 'Fira Mono', 'Droid Sans Mono', 'Courier New',
		monospace;
	font-size: 20px;
	font-size: clamp(14px, 3vw, 16px);
	font-weight: 300;
	line-height: 1.5;
}

body {
	background-color: var(--theme-background-primary);
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

.grid {
	display: grid;
	grid-template-columns:
		[full-start]
		minmax(clamp(var(--space-s), 5vmax, var(--space-l)), 1fr)
		[main-start content-start]
		minmax(0, 45rem)
		[content-end main-end]
		minmax(clamp(var(--space-s), 5vmax, var(--space-l)), 1fr)
		[full-end];
}

@media screen and (min-width: 60rem) {
	.grid {
		grid-template-columns:
			[full-start]
			minmax(clamp(var(--space-s), 5vmax, var(--space-l)), 1fr)
			[main-start]
			minmax(0, 7.5rem)
			[content-start]
			minmax(0, 45rem)
			[content-end]
			minmax(0, 7.5rem)
			[main-end]
			minmax(clamp(var(--space-s), 5vmax, var(--space-l)), 1fr)
			[full-end];
	}
}

.grid > * {
	grid-column: main;
}

.grid > .content {
	grid-column: content;
}

.grid > .full {
	grid-column: full;
}

a {
	color: var(--theme-accent);
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}
